@font-face {
    font-family: "refile";
    src: url('../assets/Fonts/Refile.otf');
}


@font-face {
    font-family: "italianno";
    src: url('../assets/Fonts/Italianno-Regular.ttf');
}


@font-face {
    font-family: "cinzel";
    src: url('../assets/Fonts/CinzelDecorative-Bold.ttf');
}

@font-face {
    font-family: "against";
    src: url('../assets/Fonts/Refile.otf');
}

article{
    height: auto;
    width: auto;
    max-width: 800px;
    border: 1px solid;
    color: black;
}

.header{
    height: 20%;
    width: 100%;
    padding: 20px 0;
    background: black;
    color: #f5f5dc;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-bottom: 1px solid #fff;
}

.header h2{
    margin-bottom: 0;
    font-size: 1.8rem;
    font-family: "refile";
}

.header p{
    margin: 0;
    font-size: 1.3rem;
    font-family: "italianno";
}

.main-part{
    height: 80%;
    display: flex;
}

.main-part aside{
    height: 100%;
    width: 45%;
    overflow-x: hidden;
    scrollbar-width: none;
    color: #f5f5dc;
    background: #000;
    border-right: 1px solid #000;
}

.main-part > *{
    width: 80%;
    margin: 0 auto;
}

.main-part aside > div:not(:first-of-type){
    margin-top: 1rem;
}

.lines, .details > div h2{
    font-size: 0.7rem;
    margin: 0 10px;
    margin-bottom: 5px;
    border-bottom: 2px solid;
    text-align: left;
    padding-top: 10px;
    /* width: 50%; */
}

.lines{
    width: 85%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "cinzel";
}

h2.right{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 900;
}

h2.right > i{
    font-size: 1rem;
}


.deets{
    font-size: 0.65rem;
    font-weight: 500;
    margin: 5px 10px;
    text-align: left;
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
}

.deets p, .deets i{
    display: inline;
}

p.email{
    word-wrap: break-word;
}

.ed-wrapper{
    height: 80px;
    width: 85%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-right: 1px solid;
    border-bottom: 1px solid;
}

.ed-wrapper aside{
    width: 20%;
    height: 100%;
    overflow: hidden;
    border-right: 0.5px solid #ffff ;
}

.yr h2{
    width: 40px;
    display: block;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    transform: rotate(-90deg) translateX(-25px);
}

.dts{
    width: 80%;
    text-align: left;
    overflow: hidden;
    padding: 5px;
    font-size: 0.65rem;
}

.dts > *{
    margin: 0;
}

.dts h2{
    font-size: 0.65rem;
}

.dts p{
    font-size: 0.7rem;
}

.school{
    font-weight: 900;
    text-transform: uppercase;
    font-family: "against";
}

.eds{
    width: 100%;
    display: flex;
}

.skill-wrapper{
    width: 80%;
    margin: 0 auto;
    border-bottom: 0.5px solid;
    display: flex;
    align-items: center;
    padding: 5px;
    overflow: hidden;
    justify-content: space-around;
}

.skill-wrapper h3{
    font-size: 0.8rem;
}

.skill-wrapper input{
    height: 2px;
    width: 50%;
}

.skill-wrapper input::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 0;
    height: 0;
    background: transparent;
    border: none;
    visibility: hidden;
}

.skill-wrapper input::-moz-range-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 0;
    height: 0;
    background: transparent;
    border: none;
    visibility: hidden;
}

.details > div h2 {
    font-size: 1rem;
}

.experience{
    margin-top: 2rem;
}

.work-wrapper{
    margin-top: 1rem;
}

.work-wrapper > *{
    margin: 0 10px;
    text-align: left;
}

.work-wrapper h3{
    font-size: 0.85rem;
    font-weight: 900;
    text-transform: uppercase;
    font-family: "against";
}

.comp-name{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.comp-name span:first-of-type{
    text-transform: capitalize;
}

p.accom{
    word-wrap: break-word;
    max-width: 70%;
}

.work-wrapper h3{
    font-size: 0.7rem;
}

.work-wrapper p{
    font-size: 0.7rem;
}

.summ{
    font-size: 0.68rem;
    margin: 0 10px;
    max-width: 90%;
    word-wrap: break-word;
    text-align: left;
    text-transform: capitalize;
}

.details{
    max-width: 300px;
    color: #000;
    background: #fff;
}

.img-preview{
    /* object-fit: cover; */
    width: 300px;
    height: 400px;
}