@font-face {
    font-family: "aspect";
    src: url("../assets/Fonts/RosmatikaRegular-BWA45.ttf");
}


section.slide{
    width: 100%;
    /* top: -13rem; */
    left: 0;
    right: 0;
    margin: auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2.5px solid #f5f5dc;
    background: #0d0d0d;
    background: #000;
    /* border-radius: 20px; */
    transition: all 2s ease;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.8);
}

section.slide.active{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1000;
}

section.slide.inactive{
    opacity: 0;
    display: none;
    z-index: -1;
}



section.slide > h2{
    color: #f5f5dc;
    width: 50%;
    text-align: left;
    border-bottom: 2px solid;
}

.slide:nth-of-type(2) textarea{
    padding: 5px;
    border-radius: 10px;
    text-indent: 10px;
}

.sLabel{
    width: 50%;
    margin: 0 auto;
    margin-bottom: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    /* border: 1px solid; */
}

.sLabel > span{
    color: #f5f5dc;
    display: block;
    /* text-align: left; */
    /* margin-left: -17.5rem; */
    margin-right: auto;
}

.sLabel input{
    display: block;
    margin: 0 auto;
    width: 95%;
    height: 2rem;
    border: 1.7px solid #f5f5dc;
    border-radius: 8px;
    text-indent: 10px;
}

label input:focus{
    border-color: greenyellow;
}

.buttons{
    width: 50%;
    margin: 0 auto;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slide:nth-of-type(3), .slide:nth-of-type(4), .slide:nth-of-type(5){
    display: block;
    height: 400px;
    overflow: scroll;
    scrollbar-width: none;
    border-width: 2px;
}

.slide:nth-of-type(3).active, .slide:nth-of-type(4).active, .slide:nth-of-type(5).active{
    display: block;
}


.ed, .xp{
    /* display: flex; */
    /* height: 100%; */
    width: 100%;
    padding: 2rem 0;
    box-sizing: border-box;
    border: 2px solid #f5f5dc;
    border-radius: 20px;
    margin-bottom: 2rem;
    position: relative;
    transition: all 1.5s ease;
}

.slide:nth-of-type(3) h2, .slide:nth-of-type(4) h2, .slide:nth-of-type(5) h2{
    margin-left: 5rem;
    margin-bottom: 0;
}


.slide:nth-of-type(5) > button{
    margin-top: 1.5rem;
}

.skills{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* border: 1px solid; */
    padding-top: 10px;
    /* background: grey; */
}


.skills input{
    border: none;
    outline: none;
    text-indent: 10px;
    transition: all 2s ease;
    background: #000;
    border-bottom: 2px solid #f5f5dc;
}

.skills label{
    position: relative;
    border: 1px solid;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 1rem;
}



